<!DOCTYPE html>
<html>
  <head>
    <title>WeekendPros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'weekendpro/application' %>
    <%= javascript_include_tag 'weekendpro/application' %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>

  <body>
    <%= render 'layouts/header'%>
      <div class="top">
        <%= yield %>
      </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
